@model NeedMe.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/registerForm/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/registerForm/css/style.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <div class="container" style="background-image: url('../../registerForm/images/signup-bg.jpg');">
                <div class="signup-content">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "signup-form", @class = "signup-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <h2 class="form-title">Crear Cuenta</h2>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @id = "email", @class = "form-input" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new {placeholder="Contraseña",@id="password", @class = "form-input" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder="Repetir Contraseña",@id= "re_password", @class = "form-input" })
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default form-submit" id="submit">
                                Ingresar
                            </button>
                        </div>

                    }
                <p class="loginhere">
                    Dispones de una cuenta ? @Html.ActionLink("Ingresa", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "loginhere-link" })

                </p>
                </div>
            </div>
        </section>

    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/registerForm/vendor/jquery/jquery.min.js"></script>
        <script src="~/registerForm/js/main.js"></script>
    }


</body>
</html>


